body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(to right, #0038a8 40%, #fcd116 0.33%, #fcd116 65.66%, #ce1126 10%);
  color: #36013F;
  height: 350vh;
  margin: 0;
  place-items: center;
  line-height: 0.3;
  text-align: center;

}

/* Stiluri comune pentru casete */
.caseta {
  width: 300px;
  height: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 1px solid black;
}



/* Stiluri comune pentru texte */
.text {
  width: 150px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: justify;
}

/* Stiluri specifice pentru prima casetă */
.box-1 {
  transform: rotate(5deg);
}

/* Stiluri specifice pentru a doua casetă */
.box-2 {
  transform: rotate(-5deg);
}

/* Stiluri pentru casete la hover */
.box:hover {
  width: 320px;
  height: 220px;
  background-color: lightblue;
  box-shadow: 10px 10px 10px grey;
}

/* Stiluri pentru label */
label {
  display: block;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}



.container {
  display: flex;
}

.box {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.box p {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}



.container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  width: 20%;
  padding: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

body {
  font-family: arial;
  background-image: linear-gradient(to right, #0038a8 40%, #fcd116 0.33%, #fcd116 65.66%, #ce1126 10%);
  color: #36013F;
  height: 350vh;
  margin: 0;
  place-items: center;
  line-height: 0.3;
  text-align: center;
}